.venv
.env
__pycache__/
*.pyc
.nicegui/
data/*.sqlite3
data/*.sqlite3-*
data/uploads/
data/*.csv
data/*.xlsx
data/samples
imdb_images/
.DS_Store
eval/eval_from_org.xlsx
batch_results_*.jsonl

scripts/
demo_data/*
